/* imports */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700&family=Sora:wght@300;400;500;600&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

/* COLORS */
/* FONT */
/* BREAKPOINTS */
@keyframes shake {
  10% {
    transform: rotate(15deg);
  }
  30% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(30deg);
  }
  70% {
    transform: rotate(-15deg);
  }
  90% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(-15deg);
  }
}
@keyframes zoom {
  20% {
    transform: scale(1.3);
  }
  40% {
    transform: scale(1.1);
  }
  70% {
    transform: scale(1.5);
  }
  60% {
    transform: scale(1);
  }
}
@keyframes bounce-in {
  0% {
    transform: translateY(-2.5rem);
    opacity: 0;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-down-out {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  70% {
    transform: translateY(3.5rem);
    opacity: 0;
  }
}
/* ======================================================================   
 * Font Family Setup
 * ======================================================================*/
@font-face {
  font-family: "Poppins";
  src: url("Poppins-Regular.woff2") format("woff2"), url("Poppins-Regular.ttf") format("ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("./Poppins-Light.woff2") format("woff2"), url("./Poppins-Light.ttf") format("ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Poppins";
  src: url("./Poppins-Medium.woff2") format("woff2"), url("./Poppins-Medium.ttf") format("ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url("./Poppins-SemiBold.woff2") format("woff2"), url("./Poppins-SemiBold.ttf") format("ttf");
  font-weight: 600;
}
/* ======================================================================
 * GENERAL STYLES
 * ======================================================================*/
html {
  font-size: 15px;
  font-family: poppins, "Segoe Ui", "Gill Sans Mt", sans-serif;
}

body {
  color: #2a283a;
  font-family: sora, sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "poppins", sans-serif;
}

h2 {
  font-size: 3.157rem;
  font-weight: 600;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  h2 {
    font-size: 2.8rem;
  }
}
@media (max-width: 480px) {
  h2 {
    font-size: 2.369rem;
  }
}

p {
  line-height: 1.7;
  font-size: 1.333rem;
  font-weight: 300;
}
@media (min-width: 1400px) {
  p {
    font-size: 1.333rem;
  }
}
@media (max-width: 992px) {
  p {
    font-size: 1.2rem;
  }
}

/* Buttons */
.btn {
  min-height: 57px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem 2rem;
  box-sizing: border-box;
  box-shadow: 0 0.25rem 0.25rem rgba(52, 4, 178, 0.15), 0 1rem 1rem rgba(52, 4, 178, 0.05);
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 500;
  transition: 0.2s ease-in-out;
}
.btn img {
  margin-right: 0.75rem;
}
.btn:hover {
  transform: scale(1.025) translateY(-0.25rem);
  box-shadow: 0 0.75rem 1.5rem -0.5rem rgba(52, 4, 178, 0.25);
}
.btn:active {
  transform: scale(0.985) translateY(0.05rem);
  box-shadow: 0 0.75rem 1.5rem -0.5rem rgba(52, 4, 178, 0.25);
}

.btn--primary {
  background: #5222d0;
  color: #fff;
}
.btn--primary:hover img {
  animation: zoom 0.4s ease-in-out;
}

.btn--secondary {
  background: #fff;
  color: #5222d0;
}
.btn--secondary:hover img {
  animation: shake 0.4s ease-in-out;
}

.seperator {
  height: 0.5rem;
}

.underline {
  position: relative;
  margin-bottom: 5rem;
}
.underline:after {
  content: "";
  width: 5rem;
  height: 0.25rem;
  position: absolute;
  bottom: -2rem;
  background: #dd9742;
}

/* ======================================================================
 * NAVIGATION BAR
 * ======================================================================*/
.navbar {
  /* positioning */
  position: fixed;
  width: 100%;
  height: auto;
  z-index: 1000;
  /* display and box-model */
  border-bottom: 1px solid rgba(255, 255, 255, 0.35);
  box-shadow: 0 0.8rem 1.5rem rgba(52, 4, 178, 0.1);
  /* other */
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);
  -moz-backdrop-filter: blur(1rem);
}
@media (max-width: 767px) {
  .navbar {
    height: auto;
  }
  .navbar .mycontainer {
    width: 100%;
  }
}

.navbar .nav {
  /* positioning */
  height: 100%;
  /* display and box-model */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* other */
  font-weight: 400;
}
.navbar .nav__brand__container {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .nav__brand {
  font-size: 1.125rem;
  font-weight: 500;
  text-transform: uppercase;
}
.navbar .nav__brand a {
  display: flex;
  align-items: center;
  color: #5222d0;
}
.navbar .nav__list {
  align-self: stretch;
  display: flex;
  align-items: stretch;
  transition: 0.2s ease-in-out;
}
.navbar .nav__list li {
  height: 100%;
}
.navbar .nav__link {
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  color: #303030;
  font-size: 1.1rem;
}
.navbar .nav__link:hover {
  color: #5222d0;
}
.navbar .nav__link.active {
  font-weight: 600;
}
.navbar .nav__opener {
  height: 2.3rem;
  display: none;
  align-self: center;
  align-items: flex-end;
  flex-flow: column nowrap;
  justify-content: space-around;
  border-radius: 4px;
  margin: 4px;
  padding: 0.8rem 1.2rem;
  cursor: pointer;
  transition: 0.3s ease-out;
}
.navbar .nav__opener .bar {
  width: 2.5rem;
  height: 3px;
  display: inline-block;
  border-radius: 8px;
  background: #5222d0;
  transition: inherit;
}
.navbar .nav__opener .bar:nth-child(2) {
  width: 1.5rem;
  align-self: flex-end;
}
/* -------------------------------------
 * Collapse Navbar on Tablets and below 
 * -------------------------------------*/
@media (max-width: 767px) {
  .navbar .nav {
    flex-flow: column;
    align-items: stretch;
    padding-right: 4px;
  }
  .navbar .nav .nav__brand__container {
    flex: 65px;
    align-items: center;
    padding-left: 5%;
  }
  .navbar .nav .nav__brand__container .nav__opener {
    display: flex;
    box-sizing: content-box;
  }
  .navbar .nav .nav__list {
    max-height: 0;
    width: 99%;
    flex-flow: column;
    align-items: stretch;
    margin-left: 1%;
    overflow-y: hidden;
    background: rgba(255, 255, 255, 0.45);
    border-radius: 4px;
    list-style-type: none;
  }
  .navbar .nav .nav__list li {
    display: flex;
    align-items: center;
  }
  .navbar .nav .nav__link {
    width: 100%;
    padding: 1.3rem 4%;
  }
  .navbar .nav .nav__link .active {
    background: #3404b2;
  }

  .navbar.open .nav__list {
    max-height: 300px;
    margin-bottom: 8px;
  }
  .navbar.open .nav__opener {
    height: 2.5rem;
  }
  .navbar.open .nav__opener .bar:nth-child(1) {
    transform: rotate(-45deg);
    transform-origin: top right;
  }
  .navbar.open .nav__opener .bar:nth-child(2) {
    align-self: center;
    width: 0;
  }
  .navbar.open .nav__opener .bar:nth-child(3) {
    transform: rotate(45deg);
    transform-origin: bottom right;
  }
}
/* ======================================================================
 * MAIN SECTIONS
 * ======================================================================*/
.section {
  width: 100%;
  padding-top: 4rem;
  padding-bottom: 3rem;
}

.mycontainer {
  width: 90%;
  max-width: 1300px;
  margin: auto;
}
@media screen and (max-width: 1400px) {
  .mycontainer {
    max-width: 1140px;
  }
}

/* ======================================================================
 * HEADER & HERO
 * ======================================================================*/
.header {
  padding-bottom: 25vh;
  background-image: radial-gradient(circle, rgba(222, 214, 241, 0.4) 45%, rgba(222, 214, 241, 0.7)), url("../img/herobg-center.png");
  background-size: cover;
  background-position: center center;
  transition: 0.5s ease-in-out;
}
@media (max-width: 640px) {
  .header {
    background-position: center top;
    background-image: radial-gradient(circle, rgba(222, 214, 241, 0.4) 45%, rgba(222, 214, 241, 0.7)), url("../img/herobg-center-mob.png");
  }
}

.hero .content {
  max-width: 47rem;
  padding-top: 20vh;
  margin: auto;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.hero .content h3 {
  margin: 1rem 0 2rem;
  font-size: 1.777rem;
  font-family: "sora", sans-serif;
  font-weight: 300;
}
@media (max-width: 767px) {
  .hero .content h3 {
    font-size: 1.333rem;
    margin-bottom: 1.5rem;
  }
}
.hero .content h1 {
  margin-bottom: 1rem;
  font-size: 4.81rem;
  font-weight: 600;
  line-height: 1.1;
  animation: bounce-in 0.5s ease-out forwards;
  text-align: center;
}
.hero .content h1.go {
  animation: slide-down-out 0.5s ease-in-out forwards;
}
.hero .content h1 .highlight {
  position: relative;
  display: inline-block;
  color: #5222d0;
}
@media (max-width: 1400px) {
  .hero .content h1 {
    font-size: 4.5rem;
  }
}
@media (max-width: 767px) {
  .hero .content h1 {
    font-size: 3.157rem;
  }
}
.hero .content .ctas {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}
.hero .content .ctas .btn--primary {
  margin-right: 1rem;
}
@media screen and (max-width: 480px) {
  .hero .content .ctas {
    width: 100%;
    flex-flow: column;
    align-items: stretch;
  }
  .hero .content .ctas .btn--primary {
    margin-bottom: 1rem;
    margin-right: 0;
  }
}
@media screen and (max-width: 767px) {
  .hero .content {
    max-width: 35rem;
  }
}

/* ======================================================================
 * WHAT I DO - SECTION
 * ======================================================================*/
.what-i-do {
  background: #ffffff;
  padding-top: 7rem;
  padding-bottom: 3rem;
}

.what-i-do__content h2 {
  text-align: center;
}
.what-i-do__content h2:after {
  left: 50%;
  transform: translateX(-50%);
}
.what-i-do__content .child {
  display: flex;
  margin-bottom: 5rem;
}
.what-i-do__content .child .text {
  max-width: 40rem;
  flex: 1 1 40%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  line-height: 1.6;
}
.what-i-do__content .child .text h3 {
  margin-bottom: 1rem;
  font-size: 1.953rem;
  text-transform: capitalize;
  line-height: 1.5;
  font-weight: 500;
}
@media (max-width: 575px) {
  .what-i-do__content .child .text h3 {
    font-size: 1.777rem;
  }
}
.what-i-do__content .child .img {
  flex: 1 1 58%;
  display: flex;
  align-items: center;
}
.what-i-do__content .child .img img {
  max-width: 35rem;
  width: 80%;
  margin: 0 10%;
}
@media screen and (max-width: 800px) {
  .what-i-do__content .child {
    width: 100%;
    max-width: 480px;
    flex-flow: column;
    margin-left: auto;
    margin-right: auto;
  }
  .what-i-do__content .child .img {
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
}
.what-i-do__content .dynamic-sites .child {
  display: flex;
}
.what-i-do__content .dynamic-sites .child .text {
  order: 1;
}
.what-i-do__content .dynamic-sites .child .img {
  order: -1;
}
@media screen and (max-width: 800px) {
  .what-i-do__content .dynamic-sites .child .text {
    order: 1;
  }
  .what-i-do__content .dynamic-sites .child .img {
    order: 2;
  }
}

/* ======================================================================
 * WHY CHOOSE ME - SECTION
 * ======================================================================*/
.choose-me {
  position: relative;
}
.choose-me:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 60%;
  bottom: 0rem;
  left: 0;
  background: #3404b2;
  z-index: -1;
}
@media (max-width: 992px) {
  .choose-me:before {
    height: 100%;
  }
}
.choose-me:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8.5vw;
  width: 100%;
  height: 12.5vw;
  z-index: -1;
  background-image: url("../img/fluidbg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.choose-me__content h2 {
  text-align: center;
  font-family: "poppins", "segoe ui", "gill  sans mt", sans-serif;
}
@media (max-width: 992px) {
  .choose-me__content h2 {
    color: white;
  }
}
.choose-me__content h2:after {
  left: 50%;
  transform: translateX(-50%);
}

.choose-me__content .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  column-gap: 1.5rem;
  margin: auto;
  position: relative;
  padding-bottom: 4rem;
}
.choose-me__content .cards .card {
  display: grid;
  grid-template-rows: 7rem minmax(0.8rem, 3.5rem) minmax(3rem, auto);
  row-gap: 1rem;
  min-height: 4rem;
  box-shadow: 0 1.5rem 2.5rem -0.5rem rgba(30, 5, 70, 0.3);
  padding: 2.25rem 2.25rem 2.5rem;
  background: #5222d0;
  border-radius: 4px;
  color: #fff;
  transition: ease-out 0.2s;
}
.choose-me__content .cards .card .img {
  display: flex;
  align-items: flex-end;
}
.choose-me__content .cards .card .img img {
  height: 100%;
}
.choose-me__content .cards .card .img lord-icon {
  width: 104px;
  height: 104px;
  align-self: center;
  margin-left: -1rem;
  margin-bottom: 0.5rem;
}
.choose-me__content .cards .card h3 {
  display: flex;
  align-items: flex-end;
  font-size: 1.777rem;
  font-weight: 500;
  line-height: 1.2;
}
.choose-me__content .cards .card p {
  color: rgba(255, 255, 255, 0.6);
}
.choose-me__content .cards .card:hover {
  transform: translateY(-0.25rem) scale(1.02);
}
@media (max-width: 992px) {
  .choose-me__content .cards .card {
    row-gap: 1rem;
  }
}
@media (max-width: 992px) {
  .choose-me__content .cards {
    max-width: 480px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    margin-left: auto;
    margin-right: auto;
    row-gap: 1rem;
  }
}

/* ======================================================================
 * MY WORK - SECTION
 * ======================================================================*/
.work {
  margin-top: 6vw;
}
.work__content {
  display: flex;
}
.work__content h2:after {
  left: 0;
}
.work__content p {
  line-height: 1.7;
}
.work__content .text {
  max-width: 35rem;
  flex: 1 0 45%;
  display: flex;
  justify-content: center;
  flex-flow: column;
}
.work__content .text p {
  padding-right: 3rem;
  line-height: 1.7;
}
@media (max-width: 767px) {
  .work__content .text p {
    padding-right: 0;
  }
}
.work__content .text .cta {
  margin-top: 3rem;
}
.work__content .img {
  flex: 2 0 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.work__content .img img {
  width: 100%;
  max-width: 45rem;
}
@media screen and (max-width: 800px) {
  .work__content {
    width: 90%;
    max-width: 480px;
    flex-flow: column;
  }
}

.project-body {
  background: #ebeaf1;
}

.projects-header {
  padding-top: 10rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
  color: #3404b2;
  text-align: center;
}
.projects-header h1 {
  margin-bottom: 3.5rem;
  font-size: 3.157rem;
  font-weight: 600;
  text-transform: uppercase;
}
.projects-header h1:after {
  bottom: -1.25rem;
  left: 50%;
  transform: translateX(-50%);
}
.projects-header p {
  max-width: 45rem;
  margin: auto;
  color: #2a283a;
}

.project-cards {
  position: relative;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.project-cards:before {
  position: relative;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 24rem;
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-color: #3404b2;
  color: #ffffff;
  z-index: 0;
}
.project-cards:after {
  content: "";
  position: absolute;
  left: 0;
  top: 23rem;
  width: 100%;
  height: 13vw;
  z-index: -1;
  background-image: url("../img/fluidbg.png");
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 767px) {
  .project-cards {
    margin-left: auto;
    margin-right: auto;
  }
}

.project-card {
  width: 100%;
  overflow: hidden;
  padding: 0.25rem;
  border: 1px solid rgba(82, 34, 208, 0.3);
  border-radius: 4px;
  box-shadow: 0 1.25rem 1.5rem -1rem rgba(52, 4, 178, 0.25);
  background: #ffffff;
  transition: 0.2s ease-out;
  z-index: 1;
}
.project-card__image {
  width: 100%;
  object-fit: cover;
  object-position: center top;
}
.project-card__body {
  display: flex;
  flex-flow: column;
  padding: 0.5rem 1rem 1rem;
}
.project-card__body > *:first-child {
  margin-bottom: 0.75rem;
}
.project-card__tag-list {
  display: flex;
  flex-flow: row wrap;
}
.project-card__tag {
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  padding: 0.5rem;
  border-radius: 4px;
  background: #efefef;
  font-size: 0.75rem;
}
.project-card__title {
  font-size: 18px;
  line-height: 1.4;
  padding: 0.5rem 0;
}
.project-card a {
  text-decoration: none;
  color: #2a283a;
}
.project-card:hover {
  transform: scale(1.0125) translateY(-0.25rem);
  box-shadow: 0 1.75rem 3rem -1rem rgba(52, 4, 178, 0.15);
}
.project-card:hover a {
  text-decoration: underline;
}

/*# sourceMappingURL=styles.css.map */
