/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
/**************************
*          COLORS         *
***************************/
/**************************
*           FONT          *
***************************/
/**************************
*           GRID          *
***************************/
/**/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}
@media screen and (max-width: 599px) {
  html {
    font-size: 55%;
  }
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
}

.container {
  width: 960px;
  margin: 0 auto;
}
@media screen and (max-width: 992px) {
  .container {
    width: 100%;
    padding: 0rem 5rem;
  }
}
@media screen and (max-width: 599) {
  .container {
    padding: 0rem 3rem;
  }
}

@keyframes fromright {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  /* font-size: 16px; */
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
}

.header .hero {
  color: #fff;
}

.projects {
  color: #14074e;
  font-family: "Quicksand";
}
.projects__card--name {
  text-align: center;
  font-size: 2rem;
  color: rgba(20, 7, 78, 0.7);
}

.section__content--title {
  font-size: 5rem;
  text-transform: capitalize;
  color: #14074e;
  font-weight: 600;
}
.section__content--paragraph {
  font-weight: 500;
  font-size: 2rem;
  color: rgba(20, 7, 78, 0.7);
}
@media screen and (max-width: 767px) {
  .section__content--title {
    font-size: 4rem;
  }
}

/**/
.calls-to-action {
  text-align: center;
  padding-top: 2rem;
}
@media screen and (max-width: 767px) {
  .calls-to-action {
    padding-top: 0;
  }
}

.button {
  font-family: "Quicksand";
  font-weight: 600;
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0px;
  text-decoration: none;
  transition: 0.3s background ease-out, 0.1s transform ease-out;
  /******************************/
  /*MEDIA QUERY BREAKPOINT 992px*/
  /******************************/
  /******************************/
  /***END OF: BREAKPOINT 992px***/
  /******************************/
  /******************************/
  /*MEDIA QUERY BREAKPOINT 767px*/
  /******************************/
  /******************************/
  /*END OF: BREAKPOINT 767px*/
  /******************************/
  /******************************/
  /*MEDIA QUERY BREAKPOINT 599px*/
  /******************************/
  /******************************/
  /*END OF: BREAKPOINT 599px*/
  /******************************/
}
.button--full:link, .button--full:visited {
  padding: 1.5rem 4rem;
  background-color: #e71a4e;
  color: #fff;
  margin: 2rem 1rem;
  width: 40%;
  text-align: center;
  border-radius: 50rem;
  box-shadow: 0rem 0.2rem 0.3rem rgba(0, 0, 0, 0.2);
}
.button--empty:link, .button--empty:visited {
  padding: 1.5rem 4rem;
  background-color: #fff;
  color: #14074e;
  margin: 2rem 1rem;
  width: 40%;
  padding: auto 1rem;
  border: 0.01rem solid rgba(255, 255, 255, 0.9);
  text-align: center;
  border-radius: 50rem;
  box-shadow: 0rem 0.2rem 0.3rem rgba(0, 0, 0, 0.2);
}
.button--contact:link, .button--contact:visited {
  color: #fff;
  background-color: #e71a4e;
  padding: 0.8rem 4rem;
  display: inline-block;
  border-radius: 0.5rem;
  box-shadow: 0rem 0.2rem 0.3rem rgba(0, 0, 0, 0.2);
}
.button--indoc {
  box-sizing: border-box;
  display: inline-block;
  padding: 1rem 2rem;
}
.button--indoc:link, .button--indoc:visited {
  color: #e71a4e;
  border-bottom: 2px solid #e71a4e;
}
.button--indoc:hover {
  color: #fff;
  background-color: #e71a4e;
  transform: translateY(-0.2rem);
  box-shadow: 0rem 0.4rem 1rem rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
}
.button--indoc:active {
  border-radius: 0.5rem;
  color: #fff;
  background-color: #e71a4e;
  transform: translateY(0);
  box-shadow: 0rem 0.2rem 0.3rem rgba(0, 0, 0, 0.2), 0rem 0.2rem 0.3rem rgba(0, 0, 0, 0.2);
}
.button:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0rem 0.4rem 0.8rem rgba(0, 0, 0, 0.3);
}
.button:active {
  transform: translateY(0);
  box-shadow: 0rem 0.2rem 0.3rem rgba(0, 0, 0, 0.2), 0rem 0.2rem 0.3rem rgba(0, 0, 0, 0.2);
  transition: 0.02s transform ease-out;
}
@media screen and (max-width: 992px) {
  .button {
    font-size: 2rem;
    transition: 0.3s background ease-out, 0.1s transform ease-out;
  }
  .button--full:link, .button--full:visited {
    padding: 1.5rem 3rem;
    margin: 3.5rem 1rem;
    width: 45%;
    padding: auto 2rem;
    text-align: center;
    border-radius: 50rem;
    box-shadow: 0rem 0.2rem 0.3rem rgba(0, 0, 0, 0.2);
    line-break: strict;
  }
  .button--empty:link, .button--empty:visited {
    padding: 1.5rem 3rem;
    margin: 3.5rem 1rem;
    width: 45%;
    padding: auto 2rem;
    text-align: center;
    border-radius: 50rem;
    box-shadow: 0rem 0.2rem 0.3rem rgba(0, 0, 0, 0.2);
    line-break: strict;
  }
  .button--contact:link, .button--contact:visited {
    color: #fff;
    background-color: #e71a4e;
    padding: 0.8rem 3rem;
    display: inline-block;
    border-radius: 0.5rem;
    box-shadow: 0rem 0.2rem 0.3rem rgba(0, 0, 0, 0.2);
  }
  .button--indoc {
    box-sizing: border-box;
    display: inline-block;
    padding: 1rem 2rem;
  }
  .button--indoc:link, .button--indoc:visited {
    color: #e71a4e;
    border-bottom: 2px solid #e71a4e;
  }
  .button--indoc:hover {
    color: #fff;
    background-color: #e71a4e;
    transform: translateY(-0.2rem);
    box-shadow: 0rem 0.4rem 1rem rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
  }
  .button--indoc:active {
    border-radius: 0.5rem;
    color: #fff;
    background-color: #e71a4e;
    transform: translateY(0);
    box-shadow: 0rem 0.2rem 0.3rem rgba(0, 0, 0, 0.2), 0rem 0.2rem 0.3rem rgba(0, 0, 0, 0.2);
  }
  .button:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0rem 0.4rem 0.8rem rgba(0, 0, 0, 0.3);
  }
  .button:active {
    transform: translateY(0);
    box-shadow: 0rem 0.2rem 0.3rem rgba(0, 0, 0, 0.2), 0rem 0.2rem 0.3rem rgba(0, 0, 0, 0.2);
    transition: 0.02s transform ease-out;
  }
}
@media screen and (max-width: 767px) {
  .button {
    font-size: 1.7rem;
    transition: 0.3s background ease-out, 0.1s transform ease-out;
  }
  .button--full:link, .button--full:visited {
    padding: 1.5rem 3rem;
    margin: 2rem 1rem 0;
    width: 45%;
    padding: auto 2rem;
    text-align: center;
    border-radius: 50rem;
    box-shadow: 0rem 0.2rem 0.3rem rgba(0, 0, 0, 0.2);
  }
  .button--empty:link, .button--empty:visited {
    padding: 1.5rem 4rem;
    background-color: #fff;
    color: #14074e;
    margin: 2rem 1rem;
    width: 45%;
    padding: auto 1rem;
    border: 0.01rem solid rgba(255, 255, 255, 0.9);
    text-align: center;
    border-radius: 50rem;
    box-shadow: 0rem 0.2rem 0.3rem rgba(0, 0, 0, 0.2);
  }
  .button--contact:link, .button--contact:visited {
    color: #fff;
    background-color: #e71a4e;
    padding: 0.8rem 4rem;
    display: inline-block;
    border-radius: 0.5rem;
    box-shadow: 0rem 0.2rem 0.3rem rgba(0, 0, 0, 0.2);
  }
  .button--indoc {
    box-sizing: border-box;
    display: inline-block;
    padding: 1rem 2rem;
  }
  .button--indoc:link, .button--indoc:visited {
    color: #e71a4e;
    border-bottom: 2px solid #e71a4e;
  }
  .button--indoc:hover {
    color: #fff;
    background-color: #e71a4e;
    transform: translateY(-0.2rem);
    box-shadow: 0rem 0.4rem 1rem rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
  }
  .button--indoc:active {
    border-radius: 0.5rem;
    color: #fff;
    background-color: #e71a4e;
    transform: translateY(0);
    box-shadow: 0rem 0.2rem 0.3rem rgba(0, 0, 0, 0.2), 0rem 0.2rem 0.3rem rgba(0, 0, 0, 0.2);
  }
  .button:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0rem 0.4rem 0.8rem rgba(0, 0, 0, 0.3);
  }
  .button:active {
    transform: translateY(0);
    box-shadow: 0rem 0.2rem 0.3rem rgba(0, 0, 0, 0.2), 0rem 0.2rem 0.3rem rgba(0, 0, 0, 0.2);
    transition: 0.02s transform ease-out;
  }
}
@media screen and (max-width: 599px) {
  .button {
    font-size: 1.9rem;
    transition: 0.3s background ease-out, 0.1s transform ease-out;
  }
  .button--full:link, .button--full:visited, .button--full:hover {
    padding: 1.5rem 2.5rem;
    margin: 0rem 1rem;
    width: 85%;
    padding: auto 2rem;
    text-align: center;
    border-radius: 50rem;
    box-shadow: 0rem 0.2rem 0.3rem rgba(0, 0, 0, 0.2);
    line-break: strict;
  }
  .button--empty:link, .button--empty:visited, .button--empty:hover {
    padding: 1.5rem 2.5rem;
    background-color: #fff;
    color: #14074e;
    margin: 2.5rem 1rem 2rem;
    width: 85%;
    padding: auto 1rem;
    border: 0.01rem solid rgba(255, 255, 255, 0.9);
    text-align: center;
    border-radius: 50rem;
    box-shadow: 0rem 0.2rem 0.3rem rgba(0, 0, 0, 0.2);
  }
  .button--contact:link, .button--contact:visited, .button--contact:hover {
    color: #fff;
    background-color: #e71a4e;
    padding: 0.8rem 4rem;
    display: inline-block;
    border-radius: 0.5rem;
    box-shadow: 0rem 0.2rem 0.3rem rgba(0, 0, 0, 0.2);
  }
  .button--indoc {
    box-sizing: border-box;
    display: inline-block;
    padding: 1rem 2rem;
  }
  .button--indoc:link, .button--indoc:visited {
    color: #e71a4e;
    border-bottom: 2px solid #e71a4e;
  }
  .button--indoc:active, .button--indoc:hover {
    border-radius: 0.5rem;
    color: #fff;
    background-color: #e71a4e;
    transform: translateY(0);
    box-shadow: 0rem 0.2rem 0.3rem rgba(0, 0, 0, 0.2), 0rem 0.2rem 0.3rem rgba(0, 0, 0, 0.2);
  }
  .button:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0rem 0.4rem 0.8rem rgba(0, 0, 0, 0.3);
  }
  .button:active {
    transform: translateY(0);
    box-shadow: 0rem 0.2rem 0.3rem rgba(0, 0, 0, 0.2), 0rem 0.2rem 0.3rem rgba(0, 0, 0, 0.2);
    transition: 0.02s transform ease-out;
  }
}
@media screen and (max-width: 360px) {
  .button--full:link, .button--full:visited, .button--full:hover {
    width: 90%;
    font-size: 1.8rem;
  }
  .button--empty:link, .button--empty:visited, .button--empty:hover {
    width: 90%;
    font-size: 1.8rem;
  }
}

.center-contain {
  text-align: center;
}

.left-contain {
  text-align: left;
}

/**/
/**/
.header .hero {
  background-image: linear-gradient(to bottom right, rgba(0, 85, 165, 0.78), rgba(87, 8, 124, 0.78)), url("../img/bg-pic.jpg");
  height: 55rem;
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 50% 100%, 0% 80%);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Open Sans", sans-serif;
}
.header .hero .heading {
  padding-top: 8rem;
  /*MEDIA QUERY BREAKPOINT 992px*/
  /******************************/
  /*MEDIA QUERY BREAKPOINT 767px*/
  /******************************/
  /******************************/
  /*MEDIA QUERY BREAKPOINT 599px*/
  /******************************/
}
.header .hero .heading__sub1 {
  display: block;
  font-weight: 500;
  font-size: 4rem;
  font-family: "Quicksand";
}
.header .hero .heading__main {
  display: block;
  margin-top: 2rem;
  text-align: center;
  font-size: 9rem;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 90%;
}
.header .hero .heading__sub2 {
  font-family: "Quicksand";
  margin: 0 auto;
  display: block;
}
.header .hero .heading__sub2--list {
  text-align: center;
}
.header .hero .heading__sub2--list li {
  display: inline-block;
  list-style: circle inside;
  font-size: 2.7rem;
  font-weight: 400;
  margin: 0 1.7rem;
}
@media screen and (max-width: 992px) {
  .header .hero .heading {
    padding-top: 5rem;
  }
  .header .hero .heading__sub1 {
    font-size: 3.3rem;
  }
  .header .hero .heading__main {
    margin-top: 4rem;
    font-size: 7.5rem;
    line-height: 80%;
  }
  .header .hero .heading__sub2 {
    margin: 1rem auto;
  }
  .header .hero .heading__sub2--list {
    text-align: center;
  }
  .header .hero .heading__sub2--list li {
    display: inline-block;
    list-style: circle;
    font-size: 2.1rem;
    letter-spacing: 0px;
    line-height: 80%;
  }
}
@media screen and (max-width: 767px) {
  .header .hero .heading {
    padding-top: 5rem;
  }
  .header .hero .heading__sub1 {
    font-size: 3rem;
  }
  .header .hero .heading__main {
    margin-top: 2.5rem;
    font-size: 6rem;
    line-height: 100%;
  }
  .header .hero .heading__sub2 {
    margin: 2rem auto 2.5rem;
  }
  .header .hero .heading__sub2--list {
    padding: 0 10%;
  }
  .header .hero .heading__sub2--list li {
    text-align: left;
    display: block;
    list-style: circle;
    font-size: 2.2rem;
    padding: 0.9rem;
  }
}
@media screen and (max-width: 599px) {
  .header .hero .heading {
    padding-top: 2rem;
  }
  .header .hero .heading__sub1 {
    font-size: 3rem;
    font-weight: 400;
  }
  .header .hero .heading__main {
    margin-top: 30px;
    font-size: 5.5rem;
    font-weight: 500;
    line-height: 100%;
    text-align: center;
    margin: 5%;
  }
  .header .hero .heading__sub2 {
    margin: 25px auto 45px;
  }
  .header .hero .heading__sub2--list {
    padding: 0;
    margin: 0 5%;
  }
  .header .hero .heading__sub2--list li {
    display: block;
    list-style: circle;
    font-size: 2.2rem;
    padding: 0.9rem 0;
    line-height: 110%;
    margin: 0;
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .header .hero {
    background-attachment: unset;
    padding-top: 4rem;
    height: 62rem;
    clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 50% 100%, 0% 85%);
  }
}
@media screen and (max-width: 599px) {
  .header .hero {
    background-attachment: unset;
    height: 700px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 50% 100%, 0% 85%);
  }
}

.navbar {
  height: 7rem;
  background-color: #fff;
  box-shadow: 0px 0.4rem 0.5rem rgba(0, 0, 0, 0.3);
  transition: all 0.15s ease-out;
}
.navbar::after {
  content: "";
  display: table;
  clear: both;
}
.navbar .nav {
  float: right;
  list-style: none;
  font-size: 1.8rem;
  font-weight: 500;
  height: 7rem;
  box-sizing: border-box;
}
.navbar .nav__burger {
  display: none;
}
.navbar .nav__link {
  text-decoration: none;
}
.navbar .nav__link:not(:last-child) {
  margin: auto 1.3rem;
}
.navbar .nav__link:link, .navbar .nav__link:visited {
  color: #14074e;
}
.navbar .nav__link:hover, .navbar .nav__link:active {
  color: #e71a4e;
}
.navbar .nav__item {
  display: inline-block;
  padding: 0.9rem;
  transition: transform 0.1s ease-out;
}
.navbar__mobile {
  /******************************/
  /*MEDIA QUERY BREAKPOINT 767px*/
  /******************************/
}
@media screen and (max-width: 767px) {
  .navbar__mobile {
    position: fixed;
    z-index: 1500;
    right: 20px;
    top: 30px;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
  }
  .navbar__mobile .nav {
    float: none;
    display: none;
    right: -4000px;
    opacity: 0;
    animation: fromright 2s ease-out forwards;
    position: fixed;
    transition: all 0.2s ease-out;
    font-size: 19px;
  }
  .navbar__mobile .nav__burger {
    display: block;
    list-style: none;
    position: fixed;
    margin-top: 10px;
    top: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    cursor: pointer;
  }
  .navbar__mobile .nav__burger li {
    width: 30px;
    height: 4px;
    background-color: rgba(20, 7, 78, 0.85);
    margin: 5px;
    border-radius: 0.3rem;
    position: fixed;
    top: 33px;
    right: 30px;
    transition: all 0.1s;
  }
  .navbar__mobile .nav__burger li:nth-child(1) {
    top: 43px;
    transform: rotate(0);
  }
  .navbar__mobile .nav__burger li:nth-child(2) {
    top: 53px;
    transform: rotate(0);
  }
  .navbar__mobile .nav__burger li:nth-child(3) {
    top: 63px;
    transform: rotate(0);
  }
}
.navbar__open {
  height: 0px;
  width: 0px;
  top: 0px;
  right: 0px;
  background-color: #dedef8;
  /******************************/
  /*MEDIA QUERY BREAKPOINT 767px*/
  /******************************/
  /******************************/
  /*MEDIA QUERY BREAKPOINT 360px*/
  /******************************/
}
@media screen and (max-width: 767px) {
  .navbar__open {
    height: 650px;
    width: 650px;
    top: -200px;
    right: -259px;
    background-color: #dedef8;
  }
  .navbar__open .nav {
    display: block;
    opacity: 0;
    animation: fromright 0.2s 0.1s ease-out forwards;
    width: 300px;
    height: 250px;
    top: 70px;
    right: 28px;
    position: fixed;
    font-size: 19px;
    border-radius: 50%;
  }
  .navbar__open .nav__item {
    display: block;
    padding: 2rem;
    margin: 0 auto;
    text-align: center;
    z-index: 2200;
  }
  .navbar__open .nav__burger {
    display: block;
    list-style: none;
    position: fixed;
    right: 20px;
    margin-top: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    top: 15px;
  }
  .navbar__open .nav__burger li {
    width: 30px;
    height: 4px;
    margin: 0 auto;
    background-color: rgba(20, 7, 78, 0.85);
    margin: 5px;
    border-radius: 3px;
    transform: rotate(0deg);
    transform-origin: center;
    position: fixed;
    top: 33px;
    right: 30px;
  }
  .navbar__open .nav__burger li:nth-child(1) {
    transform: rotate(45deg);
    top: 5.3rem;
  }
  .navbar__open .nav__burger li:nth-child(2) {
    width: 0;
    top: 5.3rem;
    right: 5.25rem;
  }
  .navbar__open .nav__burger li:nth-child(3) {
    transform: rotate(-45deg);
    top: 5.3rem;
  }
}
@media screen and (max-width: 350px) {
  .navbar__open .nav {
    right: 18px;
    width: 250px;
  }
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^=col-] {
  float: left;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 6rem;
}
.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}
.row .col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}
.row .col-2-of-3 {
  width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem);
}
.row .col-2-of-4 {
  width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem);
}
.row .col-3-of-4 {
  width: calc(3 * ((100% - 3 * 6rem) / 4) + (2 *6rem));
}

.projects {
  background: rgba(26, 47, 184, 0.05);
  padding: 18rem 0rem 10rem;
  margin-top: -11rem;
  /******************************/
  /*MEDIA QUERY BREAKPOINT 992px*/
  /******************************/
  /******************************/
  /*END OF BREAKPOINT 992px*/
  /******************************/
  /******************************/
  /*MEDIA QUERY BREAKPOINT 767px*/
  /******************************/
  /******************************/
  /*MEDIA QUERY BREAKPOINT 599px*/
  /******************************/
}
.projects__cards {
  width: 100%;
  margin: 3rem auto;
}
.projects__card {
  width: 30%;
  height: 27rem;
  background-color: #fff;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0rem 0.8rem 0.5rem rgba(119, 119, 119, 0.1);
  display: inline-block;
  cursor: pointer;
  -webkit-transition: 0.2s -webkit-transform ease-out;
  transition: 0.2s -webkit-transform ease-out;
  transition: 0.2s transform ease-out;
  transition: 0.2s transform ease-out, 0.2s -webkit-transform ease-out;
  overflow: hidden;
}
.projects__card--image {
  width: 100%;
  height: 82%;
  background: rgba(119, 119, 119, 0.2);
  border-radius: 0.5rem 0.5rem 0rem 0rem;
}
.projects__card--name {
  width: 100%;
  padding: 0.7rem;
  box-sizing: border-box;
  font-weight: 600;
}
.projects__card:not(:last-child) {
  margin-right: 4.5%;
}
.projects__card:hover {
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
}
.projects__card:active {
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
  -webkit-transition: 0.07s -webkit-transform ease-out;
  transition: 0.07s -webkit-transform ease-out;
  transition: 0.07s transform ease-out;
  transition: 0.07s transform ease-out, 0.07s -webkit-transform ease-out;
}
@media screen and (max-width: 992px) {
  .projects__cards {
    width: 80%;
    margin: 3rem auto;
    height: 28rem;
  }
  .projects__card {
    width: 29%;
  }
}
@media screen and (max-width: 767px) {
  .projects__cards {
    width: 100%;
    margin: 3rem auto;
    position: relative;
  }
  .projects__card {
    width: 20rem;
    position: absolute;
  }
  .projects__card:nth-child(1) {
    left: 5%;
    transform: scale(1);
    z-index: 50;
  }
  .projects__card:nth-child(1):active {
    transform: scale(1.05);
  }
  .projects__card:nth-child(2) {
    left: 30%;
    transform: scale(0.9);
    z-index: 30;
  }
  .projects__card:nth-child(2):active {
    transform: scale(0.95);
  }
  .projects__card:nth-child(3) {
    left: 55%;
    transform: scale(0.85);
    z-index: 10;
  }
  .projects__card:nth-child(3):active {
    transform: scale(0.9);
  }
}
@media screen and (max-width: 599px) {
  .projects__cards {
    width: 100%;
    margin: 3rem auto;
    position: relative;
  }
  .projects__card {
    width: 60%;
    position: absolute;
  }
  .projects__card:nth-child(1) {
    left: 10%;
    transform: scale(1);
    z-index: 50;
  }
  .projects__card:nth-child(1):active {
    transform: scale(1.05);
    z-index: 100;
  }
  .projects__card:nth-child(2) {
    left: 20%;
    transform: scale(0.9);
    z-index: 30;
  }
  .projects__card:nth-child(2):active {
    transform: scale(0.95);
    z-index: 100;
  }
  .projects__card:nth-child(3) {
    left: 30%;
    transform: scale(0.85);
    z-index: 10;
  }
  .projects__card:nth-child(3):active {
    transform: scale(0.9);
    z-index: 100;
  }
}

.drawings {
  padding: 12rem 0rem;
  position: relative;
  box-sizing: border-box;
  box-shadow: 0 0.5rem 1rem rgba(119, 119, 119, 0.4);
  background-color: rgba(247, 247, 247, 0.6);
  /******************************/
  /*MEDIA QUERY BREAKPOINT 992px*/
  /******************************/
  /******************************/
  /*MEDIA QUERY BREAKPOINT 679px*/
  /******************************/
  /******************************/
  /*END OF BREAKPOINT 679px*/
  /******************************/
  /******************************/
  /*MEDIA QUERY BREAKPOINT 580px*/
  /******************************/
  /******************************/
  /*MEDIA QUERY BREAKPOINT 350px*/
  /******************************/
}
.drawings::after {
  content: "";
  display: table;
  clear: both;
}
.drawings__imagecontainer {
  width: 50%;
  position: relative;
  display: inline-block;
}
.drawings__content {
  width: 50%;
  height: 40rem;
  float: right;
  padding-right: 8rem;
  box-sizing: border-box;
}
.drawings__imagelist {
  width: 40rem;
  height: 40rem;
  margin: 0 auto;
  position: relative;
}
.drawings__images {
  height: 22rem;
  width: 16rem;
  outline: #14074e solid 0.3rem;
  display: inline-block;
  position: absolute;
  background-color: rgba(119, 119, 119, 0.4);
  box-shadow: 0 0.4rem 0.1rem rgba(119, 119, 119, 0.4);
  transition: transform 0.3s ease-out, outline 0.3s ease-out !important;
}
.drawings__images--1 {
  top: 6rem;
  left: 5rem;
  z-index: 100;
}
.drawings__images--2 {
  left: 18rem;
  top: 0rem;
  z-index: 50;
}
.drawings__images--3 {
  left: 14rem;
  top: 18rem;
  z-index: 10;
}
.drawings__images:hover {
  transform: scale(1.1) !important;
  z-index: 1000;
  outline: #e71a4e 1rem solid;
  outline-offset: 0.6rem;
}
@media screen and (max-width: 992px) {
  .drawings__imagecontainer {
    width: 50%;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
  }
  .drawings__content {
    width: 50%;
    height: 42rem;
    float: right;
    padding-top: 2rem;
    padding-right: 0rem;
    box-sizing: border-box;
  }
  .drawings__imagelist {
    width: 30rem;
    height: 45rem;
    margin: 0 auto;
    position: relative;
  }
  .drawings__images {
    height: 22rem;
    width: 16rem;
    outline: #14074e solid 0.3rem;
    display: inline-block;
    position: absolute;
    background-color: rgba(119, 119, 119, 0.4);
    box-shadow: 0 0.4rem 0.1rem rgba(119, 119, 119, 0.4);
    transition: transform 0.3s ease-out, outline 0.3s ease-out !important;
  }
  .drawings__images--1 {
    top: 9rem;
    left: 0%;
    z-index: 100;
  }
  .drawings__images--2 {
    left: 29%;
    top: 0rem;
    z-index: 50;
  }
  .drawings__images--3 {
    left: 18%;
    top: 20rem;
    z-index: 10;
  }
}
@media screen and (max-width: 679px) {
  .drawings__imagecontainer {
    width: 100%;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
  }
  .drawings__content {
    width: 100%;
    height: 30rem;
    float: right;
    padding-right: 0rem;
    box-sizing: border-box;
  }
  .drawings__imagelist {
    width: 35rem;
    height: 45rem;
    margin: 0 auto;
    position: relative;
  }
  .drawings__images {
    height: 22rem;
    width: 16rem;
    outline: #14074e solid 0.3rem;
    display: inline-block;
    position: absolute;
    background-color: rgba(119, 119, 119, 0.4);
    box-shadow: 0 0.4rem 0.1rem rgba(119, 119, 119, 0.4);
    transition: transform 0.3s ease-out, outline 0.3s ease-out !important;
  }
  .drawings__images--1 {
    top: 8rem;
    left: 5%;
    z-index: 100;
  }
  .drawings__images--2 {
    left: 44%;
    top: 2rem;
    z-index: 50;
  }
  .drawings__images--3 {
    left: 30%;
    top: 18rem;
    z-index: 10;
  }
}
@media screen and (max-width: 580px) {
  .drawings__imagecontainer {
    width: 100%;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
  }
  .drawings__content {
    width: 100%;
    height: 38rem;
    float: right;
    padding-right: 0rem;
    box-sizing: border-box;
  }
  .drawings__imagelist {
    width: 28rem;
    height: 45rem;
    margin: 0 auto;
    position: relative;
  }
  .drawings__images {
    height: 22rem;
    width: 16rem;
    outline: #14074e solid 0.3rem;
    display: inline-block;
    position: absolute;
    background-color: rgba(119, 119, 119, 0.4);
    box-shadow: 0 0.4rem 0.1rem rgba(119, 119, 119, 0.4);
    transition: transform 0.3s ease-out, outline 0.3s ease-out !important;
  }
  .drawings__images--1 {
    top: 9rem;
    left: 0%;
    z-index: 100;
  }
  .drawings__images--2 {
    left: 43%;
    top: 2rem;
    z-index: 50;
  }
  .drawings__images--3 {
    left: 30%;
    top: 19rem;
    z-index: 10;
  }
}
@media screen and (max-width: 350px) {
  .drawings__images--1 {
    top: 9rem;
    left: 0%;
    z-index: 100;
  }
  .drawings__images--2 {
    left: 33%;
    top: 2rem;
    z-index: 50;
  }
  .drawings__images--3 {
    left: 20%;
    top: 19rem;
    z-index: 10;
  }
}

/**/
.mg-t-2 {
  margin-top: 2rem;
}

.mg-t-3 {
  margin-top: 3rem;
}

/*# sourceMappingURL=style.css.map */
